In [1]:
%load_ext autoreload
%autoreload 1
%aimport utils_timeline_viz
from utils_timeline_viz import *
from utils_read_parsing import *
%matplotlib inline
matplotlib.style.use('ggplot')
matplotlib.rcParams['figure.figsize'] = 7, 4
from tabulate import tabulate
pd.options.mode.chained_assignment = None

## Loading and preparing survey data

In [2]:
df = pd.read_csv("ips by date.txt",sep='\t')
df.columns = ['date','time','ip','sid','logs']

In [3]:
df.head()

              date     time               ip       sid  logs
0  2017-03-28 0:00  3:19:38  142.103.243.210  17967166   0.0
1  2017-03-28 0:00  3:18:51  142.103.243.201  13660166   1.0
2  2017-03-28 0:00  3:18:48  142.103.243.212  10027161   0.0
3  2017-03-28 0:00  3:18:47  142.103.243.197  17655165   1.0
4  2017-03-28 0:00  3:18:41  142.103.243.220  19913165   1.0

In [4]:
print "there are about this many ips/computers"
len(list(set(df['ip'])))

there are about this many ips/computers

27

In [5]:
print sum(df['logs']==1)
ids_with_logs = get_students_to_analyze_log()
for sid in ids_with_logs:
    if sid in list(df['sid']):
        df[df['sid']==sid]['logs']=1
print sum(df['logs']==1)

for sid in list(df[df['logs']==1]['sid']):
    if sid not in ids_with_logs:
        print sid

14
14

In [6]:
missing = df[df['logs']==0]
captured = df[df['logs']==1]
ips_missing = list(missing['ip'])
ips_captured = list(captured['ip'])
in_both = set(ips_captured)&set(ips_missing)
print len(set(ips_missing)),len(in_both) 
print "Ips in lost and captured logs"

17 4
Ips in lost and captured logs

In [7]:
for ip in in_both:
    print ip
    print 'm', missing[missing['ip']==ip]
    print 'c', captured[captured['ip']==ip]
    print '\n'

142.103.243.221
m                date     time               ip       sid  logs
25  2017-03-23 0:00  1:13:09  142.103.243.221  10820161   0.0
45  2017-03-22 0:00  3:17:58  142.103.243.221  15749168   0.0
c               date     time               ip       sid  logs
5  2017-03-28 0:00  3:18:36  142.103.243.221  19053161   1.0


142.103.243.197
m                date     time               ip       sid  logs
26  2017-03-23 0:00  1:13:08  142.103.243.197  12396169   0.0
48  2017-03-22 0:00  3:17:09  142.103.243.197  16785153   0.0
c               date     time               ip       sid  logs
3  2017-03-28 0:00  3:18:47  142.103.243.197  17655165   1.0


142.103.243.211
m                date     time               ip       sid  logs
20  2017-03-23 0:00  1:13:41  142.103.243.211  13052167   0.0
c                date     time               ip       sid  logs
59  2017-03-22 0:00  3:17:16  142.103.243.211  19618321   1.0


142.103.243.201
m                date     time               ip       sid  logs
14  2017-03-23 0:00  1:14:03  142.103.243.201  14967159   0.0
28  2017-03-22 0:00  3:17:14  142.103.243.201   2417165   0.0
c               date     time               ip       sid  logs
1  2017-03-28 0:00  3:18:51  142.103.243.201  13660166   1.0

In [8]:
for ip in set(ips_missing)-set(ips_captured):
    print ip, list(missing[missing['ip']==ip]['date']),'\n'

142.103.243.215 ['2017-03-23 0:00', '2017-03-22 0:00']

142.103.243.210 ['2017-03-28 0:00', '2017-03-23 0:00', '2017-03-22 0:00']

142.103.243.202 ['2017-03-23 0:00', '2017-03-22 0:00']

142.103.243.212 ['2017-03-28 0:00', '2017-03-23 0:00', '2017-03-22 0:00']

142.103.243.213 ['2017-03-23 0:00', '2017-03-22 0:00']

142.103.243.200 ['2017-03-28 0:00', '2017-03-23 0:00', '2017-03-22 0:00']

142.103.243.219 ['2017-03-23 0:00', '2017-03-22 0:00']

142.103.243.208 ['2017-03-23 0:00', '2017-03-22 0:00']

142.103.243.196 ['2017-03-22 0:00']

142.103.243.195 ['2017-03-23 0:00', '2017-03-22 0:00']

142.103.243.194 ['2017-03-23 0:00']

142.103.243.192 ['2017-03-23 0:00', '2017-03-22 0:00']

142.103.243.198 ['2017-03-23 0:00', '2017-03-22 0:00']